
// RESERVATION 
.bookings {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10rem auto 10rem;
    background-color: rgb(209, 209, 235);
    padding: 50px;

    h1 {
        font-size: 40px;
        width: 70%;
        color: rgb(218, 75, 75);
        margin: auto;
    }
  }

input {
    height: 70px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    outline: none;
}

#select {
    height: 70px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
}

::placeholder {
    opacity: 0.8;
}

textarea {
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: 600;
    padding: 10px;
    width: 97%;
    margin: auto;
}

label {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.calculation {
    text-align: center;
    width: 20%;
    margin: auto;
}

.reserve-btn {
    font-weight: 600;
    background-color: blue;
    color: white;
    font-size: 17px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

.reserve-btn a {
    color: white;
    text-decoration: none;
}

h3 {
    margin-top: 1rem;
    color: green;
    font-size: 25px;
}

// FOOTER
.footer {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding: 40px;
  
    img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      margin: 10px;
    }
  
    .footer-heading {
      margin: 7px;
      font-size: px;
      font-weight: 400;
    }
  }